* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    color: #989D9C;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    margin-right: 23px;
}

img {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    

}

.button-header {
    width: 130px;
    height: 41px;
    background-color: #665AE1;
    border: none;
    border-radius: 23px;
    font-weight: 600;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
    line-height: normal;
}

.container {
    display: flex;
    
}

h1 {
    font-weight: 900;
    font-size: 100px;
    color: #515151;
}

h2 {
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #515151;
}

p {
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding-right: 100px;
}

.button-section {
    width: 239px;
    height: 64px;
    border-radius: 33px;
    background: #ADFF00;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #000;
    margin-top: 25px;
    cursor: pointer;
    border: none;
}

section {
    margin-left: 26px;
}


    


